/*background color: champs vides, utilisés pour compréhension des blocs*/

body{
    background-color: white;
}


header{
    width: 1300px;
    height: 55px;
    position: relative;
    left: 300px;
    right: 300px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logom{
    display: block;
    background-color:;
    height: 40px;
    padding-left: 30px;
}


.sign{
    padding: 10px;
    color: blueviolet;
    text-decoration: none;
    font-family: 'Encode Sans', sans-serif;
}


.get {
    padding: 10px;
    color: blueviolet ;
    text-decoration: none;
    font-family: 'Encode Sans', sans-serif;
    border-style: solid;
    border-color: blueviolet;
    border-width: thin;
    border-radius: 5px ;
}


hr{ color: whitesmoke;}


.navigation{
    display: flex;
    justify-content: flex-start;
    width: 1300px;
    background-color: ;
    margin:0 300px 0 300px;
}


#onezero{
    display: block;
    background-color: white;
    height: 50px;
    display: block;
    padding-left: 30px;
    padding-bottom: 8px;
}


.navigation ul{
    list-style: none;
}


.navigation li{
    padding: 15px;
    display: inline;
    font-family: 'Encode Sans', sans-serif;
    color:darkgray;
    letter-spacing: 1px;
    background-color: ;
}


.navigation a{
    text-decoration: none;
    color: darkgray;
}


div#line{
    background-image: linear-gradient(lightgray, white);
    width: auto;
    height: 6px;
}


#entete{
    width: 1300px;
    position: relative;
    left: 300px;
    right: 300px;
    background-color: white;
}


.titre{
    padding-left: 250px;
    font-family: 'Libre Baskerville', serif;
    font-size: 45px;
    font-weight: lighter;
}


.visa{
    padding-left: 250px;
    color: dimgray;
    font-size: 30px;
    font-family: 'Encode Sans', sans-serif;
}


#harry{
    padding-left: 250px;
    background-color: white;
    width: 1050px;
    height: 100px;
    position: relative;
    left: 300px;
    right: 300px;
    display: flex;
    align-items: center;
}


.photo{
    display: block;
    height: 55px;

    border-radius: 100%;
}


.name{
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    font-family: 'Encode Sans', sans-serif;
    color: black;
    font-size: 18px;
    font-weight:bold;
    line-height: 6px;
}


.date{
    padding-left: 20px;
    display: block;
    font-family: 'Encode Sans', sans-serif;
    color: dimgray;
    font-size: 16px;
    text-align: left;
    line-height: 25px;
}


.follow{
    padding: 1px 10px 1px 10px;
    color: blueviolet ;
    text-decoration: none;
    font-family: 'Encode Sans', sans-serif;
    border-style: solid;
    border-color: blueviolet;
    border-width: thin;
    border-radius: 5px ;
}


.paradise{
    width: 1300px;
    background-color:;
    position: relative;
    left: 260px;
}


figcaption{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    line-height: 40px;
    color: dimgray;
}


#main{
    background-color: ;
    position: relative;
    left: 300px;
    right: 300px;
    width: 1300px;
}


.reseau{
    width: 175px;
    position: absolute;
    background-color: ;
    padding-bottom: 200px;
    display: block;
    align-content: flex-start;
}


.onezerocontact{
    background-color: ;
    padding-bottom: 50px;
    border-bottom: lightgrey 1px solid;
}


.logos{
    background-color: ;
    display: flex;
    padding: 20px;
    flex-direction: column;
}


.logos img{
    display: block;
    height: 30px;
    padding: 10px 5px;
}


.para{
    padding-left: 200px;
    padding-right: 200px;
    background-color: ;
    font-family: 'Libre Baskerville', serif;
    font-size: 22px;
    line-height: 40px;
}


.y{
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 130px;
    height: 130px;
    color: white;
    font-family: 'Encode Sans', sans-serif;
    font-size: 70px;
    border-radius: 100px;
    background-color: black;
    font-weight: bold;
}


.soulign{
    text-decoration: underline;
}


.citation{
    padding: 0 120px 0 100px;
    font-style: italic;
    color: gray;
    font-family: 'Encode Sans', sans-serif;
    font-size: 28px;
    line-height: 50px;
}


.bold{
    font-weight: bold;
}


.sstitre{
    font-family: 'Encode Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
}


.menubas{
    display: flex;
    justify-content: flex-start;
    border-bottom: lightgrey 1px solid;
    background-color: ;
    padding-left: 150px;
    padding-bottom: 35px;
}


.menubas ul{
    list-style: none;
}


.menubas li{
    margin: 0px 5px;
    padding: 5px 10px;
    display: inline;
    align-self: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color: whitesmoke;
    border-radius: 5%;
}


.liens{
    position: relative;
    left: 300px;
    right: 300px;
    width: 1300px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 100px;
    background-color: ;
    display: flex;
    align-items: center;
}


#harrylink{
    background-color: ;
    display: flex;
    flex-direction: row;
    padding-left: 200px;
}


.photo2{
    display: block;
    height: 75px;
    border-radius: 100%;
}


#onezerolink{
    padding-left: 80px;
    height: 201px;
    background-color: ;
    display: flex;
    flex-direction: row;
}


.oz{
    display: block;
    height: 70px;
    border-radius: 5px;
    padding-right: 25px;
}


.description{
    padding-left: 20px;
    display: block;
    font-family: 'Encode Sans', sans-serif;
    color: black;
    font-size: 14px;
    text-align: left;
    line-height: 20px;
}


footer{
    text-align: center;

    width: 1300px;
    margin-bottom: 100px;
    padding-bottom: 60px;
    position: relative;
    left: 300px;
    right: 300px;
    box-shadow: 0px 3px 6px 3px #E2E2E2;
    display: flex;
    justify-content: space-around;
}


footer img{
    display: block;
    padding: 20px;
    height: 120px;
    border-radius: 10%;
}


.others{
    text-overflow: ellipsis;
    font-family: 'Encode Sans', sans-serif;
    font-size: 16px;

}
